
<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-custom">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="nav-link btn btn-link active" routerLink="/dashBoard/users" aria-current="page">
            <i class="fas fa-user"></i> Users
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-link" routerLink="/dashBoard/formProduct">
            <i class="fas fa-box"></i> Product
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-link" routerLink="/dashBoard/formSale">
            <i class="fas fa-money-bill-wave"></i> Sales
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-custom">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="nav-link btn btn-link nav-link-button active" routerLink="/dashBoard/users" aria-current="page">
            <i class="fa-regular fa-user"></i> Users
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-link nav-link-button" routerLink="/dashBoard/formProduct">
            <i class="fas fa-box"></i> Product
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-link nav-link-button" routerLink="/dashBoard/formSale">
            <i class="fas fa-money-bill-wave"></i> Sales
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>





<router-outlet></router-outlet>